{:deps {http-kit/http-kit {:mvn/version "2.7.0-beta3"}
        ring/ring-core {:mvn/version "1.10.0"}
        ring/ring-jetty-adapter {:mvn/version "1.10.0"}
        ring/ring-defaults {:mvn/version "0.3.4"}
        thheller/shadow-cljs {:mvn/version "2.23.3"}
        devcards/devcards {:mvn/version "0.2.7"}
        rum/rum {:mvn/version "0.12.10"}
        org.clojure/core.async {:mvn/version "0.7.559"}
        automat/automat {:mvn/version "0.2.4"}
        instaparse/instaparse {:mvn/version "1.4.10"}
        datascript/datascript {:mvn/version "1.0.4"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
        com.taoensso/tufte {:mvn/version "2.1.0"}
        metosin/reitit {:mvn/version "0.7.0-alpha3"}}
 

 :aliases {:app {:exec-fn cas.core/do-it}
           :dev {:extra-paths ["src/dev"]
                 :extra-deps  {nrepl/nrepl {:mvn/version "1.0.0"}
                               cider/cider-nrepl {:mvn/version "0.30.0"}
                               cider/piggieback {:mvn/version "0.5.1"}}
                 :main-opts ["-m" "nrepl.cmdline" "--middleware"
                             "[cider.nrepl/cider-middleware,shadow.cljs.devtools.server.nrepl/middleware]"]}}
 :paths ["src/main"]}


