;; shadow-cljs configuration
{:source-paths
 ["src"]
  

 :dependencies
 [[devcards "0.2.7"]
  [rum "0.12.10"]
  [org.clojure/core.async "0.7.559"]
  [automat "0.2.4"]
  [instaparse "1.4.10"]
  [datascript "1.0.4"]
  [com.taoensso/tufte "2.1.0"]]

:dev-http
 {3000 "resources/public"}

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js/compiled/"
        :modules {:main {:entries [cas.core]
                         :init-fn cas.core/init!}}}}}
